.container-fluid
  %h2
    Welcome
  %p
    This is a demo of Bongloy Payment Gateway's Checkout feature.
    = link_to("Connect with Facebook", omniauth_authorize_path(:user, :facebook))
    to try it!
