%h2
  Welcome
%p
  This site demonstrates how to integrate Bongloy into your application.
  = link_to("Connect with Facebook", omniauth_authorize_path(:user, :facebook))
  or
  = link_to("Sign in", new_user_session_path)
  to try it!
