body {
  background: #f6f6f6;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 50px;
  position: relative;
  padding: 50px;
  width: 80%;
}
.card-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0.1);
}

h1.title{
    padding: 0px 0 30px;
    text-align: center;
}
