.card-container, .card-wrapper{
  background: #EEE;
  position: relative;
}
.card-wrapper{
  margin: 10px;
}

.card-container{
  margin: 30px;
  .form-group{
    margin-bottom: 8px;
  }
  input.form-control{
    border-radius: 0px;
  }
  .form-group#submit_payment_form {
    margin-bottom: 20px !important;
  }
}
