- if @charge.errors.any?
  %p.alert.alert-danger{:role => "alert"}
    = @charge.errors.full_messages.to_sentence

= f.input :amount,       :as => :hidden
= f.input :currency,     :as => :hidden
= f.input :description,  :as => :hidden
