%p
  You can use any of the following card numbers for testing:
%table.table.table-striped.table-bordered.table-responsive
  %thead
    %tr
      %th
        Number
      %th
        Card Type
      %th
        Exp Date
      %th
        Security Code / PIN
  %tbody
    %tr
      %td
        4242 4242 4242 4242
      %td
        Visa
      %td
        = @checkout_configuration.sample_expiry_date
      %td
        123
    %tr
      %td
        5555 5555 5555 4444
      %td
        Mastercard
      %td
        = @checkout_configuration.sample_expiry_date
      %td
        123
    %tr
      %td
        9116 0112 3456 7890
      %td
        ACLEDA
      %td
        N/A
      %td
        N/A
    %tr
      %td
        5018 1880 0000 1614
      %td
        Wing
      %td
        = @checkout_configuration.sample_expiry_date
      %td
        1234
