%p
  You can use any of the following card numbers for testing:
%table.table.table-striped.table-bordered.table-responsive
  %thead
    %tr
      %th
        Number
      %th
        Card Type
      %th
        Exp Date
      %th
        Security Code / PIN
  %tbody
    %tr
      %td
        4242 4242 4242 4242
      %td
        Visa
      %td
        = @checkout_configuration.sample_expiry_date
      %td
        123
