%h2
  Test Checkout App
%p
  Try the demo below with this
  %a{:href => "https://stripe.com/docs/testing#cards"}
    test card number:
  %br
    %code
      4242 4242 4242 4242
= form_for @charge do |f|
  %script{:src => "https://checkout.stripe.com/checkout.js", :class => "stripe-button", :data => {:key => ENV["STRIPE_PUBLISHABLE_KEY"], :image => "https://stripe.com/img/documentation/checkout/marketplace.png", :name => "Demo Site", :description => "2 widgets ($20.00)", :label => "Pay with Wing", :amount => "2000"}}
