.container-fluid
  %h2
    Hi
    = "#{current_user.first_name || current_user.email}!"
  %p
    You can test Bongloy Checkout by pressing the button below:

  = form_for @charge do |f|
    %script{:src => @checkout_configuration.checkout_js_url, :class => "stripe-button", :data => {:key => @checkout_configuration.publishable_key, :image => @checkout_configuration.image_url, :name => @checkout_configuration.name, :description => @checkout_configuration.description, :label => @checkout_configuration.label, :amount => @checkout_configuration.amount}}
